* {
   /* background-color: yellow;*/
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
    color: #333;
    background-color: #fffff0;
	margin-left: 20px;
}

header {
	text-align: center;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #e0e0e0;
	margin-left: 20px;
}

h1 {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8em;
    color: #34495e;
    margin-top: 30px;
    margin-bottom: 15px;
}

 p {
    margin-bottom: 20px;
    text-align: justify;
    font-size: 1.1em;
 }
 
 img {
	max-width: 100%;
	height: auto;
	display: block;
 }

.subtitle {
    font-size: 1.2em;
    color: #7f8c8d;
    font-style: italic;
 }

.container {
  /*  max-width: 800px; */
    margin: 0 auto;
    padding: 40px 20px;
    background-color: fffff0;
/*    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/

.article {
	margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #e0e0e0;
	margin-left: 20px;
	
}

 a {
    color: #3498db;
    text-decoration: none;
}

 a:hover {
    text-decoration: underline;
 }

footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 2px solid #e0e0e0;
    text-align: center;
    color: #7f8c8d;
    font-size: 0.9em;
}
